{% extends "index.html"%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content1} %
    <form action=""method="POST">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="Enter your first name">
        <input type="text" name="lastname" placeholder="Enter your last name">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="text" name="address" placeholder="Enter your address">
        <input type="number" name="phone number" placeholder="Enter your phone number">
        <input type="submit" value="submit">

    </form>
</body>
{% endblock content1 %} 

</html>